table.affwp_table { text-align: left; width: 100%; border: none; margin: 0 0 21px; border-collapse: collapse; }
table.affwp_table th,
table.affwp_table td { text-align: left; border: 1px solid #eee; color: #666; padding: 0.3em 1em; }
table.affwp_table th { background: #fafafa; font-weight: bold; }