/* General */
@font-face {
  font-family: "affwp-dashicons";
  src:url("../fonts/dashicons.eot");
  src:url("../fonts/dashicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/dashicons.woff") format("woff"),
    url("../fonts/dashicons.ttf") format("truetype"),
    url("../fonts/dashicons.svg#dashicons") format("svg");
}

#adminmenu #toplevel_page_affiliate-wp div.wp-menu-image:before {
	font-family: 'affwp-dashicons' !important;
	content: "\e000";
}

.affwp-ajax-search-wrap {
	position: relative;
}

.affwp-ajax {
	position: absolute;
	right: 8px;
	top: 1px;
}

table.affwp_table {
	text-align: left;
	width: 100%;
	border: none;
	margin: 0 0 21px;
	border-collapse: collapse;
}
table.affwp_table th,
table.affwp_table td {
	text-align: left;
	border: 1px solid #eee;
	color: #666;
	padding: 0.3em 1em;
	max-width: 100%;
}
table.affwp_table th {
	background: #fafafa;
	font-weight: bold;
}
table.affwp_table td a {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
#affwp_user_search_results {
	position: absolute;
}
#affwp_user_search_results p,
#affwp_user_search_results ul {
	padding: 10px 10px 4px;
	margin: 0;
	background: #f0f0f0;
	border: 1px solid #DFDFDF;
	width: 300px;
	max-height: 200px;
	overflow-y: scroll;
}
#affwp-dashboard-widgets-wrap .postbox h3 {
	cursor: default;
}

/* Affiliate Overview */
#affwp-dashboard-widgets-wrap .postbox {
	margin: 0 8px 20px;
}

/* Review page */
#affwp_review_affiliate .button + .button {
	margin-left: 8px;
}

/* Referrals page */
#affwp-referrals-export-form,
#affwp_unpaid_counts,
#affwp_unpaid_earnings,
#affwp_total_earnings,
#affwp_affiliate_stats,
.affwp-gray-form {
	clear: both;	background: #f5f5f5;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#fafafa));
	background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fafafa);
	background-image:    -moz-linear-gradient(bottom, #f5f5f5, #fafafa);
	background-image:      -o-linear-gradient(bottom, #f5f5f5, #fafafa);
	background-image: linear-gradient(to top, #f5f5f5, #fafafa);
	border-color: #dfdfdf;
	overflow: auto;
	margin: 8px 0;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-size: 13px;
	line-height: 2.1em;
}

.affwp-status.pending i,
.affwp-status.unpaid i,
.affwp-status.paid i,
.affwp-status.rejected i {
	display: inline-block;
	position: relative;
	top:2px;
	left: -2px;
}
.affwp-status.pending i:before,
.affwp-status.unpaid i:before,
.affwp-status.paid i:before,
.affwp-status.rejected i:before {
	font-family: "dashicons";
	font-style: normal;
}
.affwp-status.pending i:before {
	content: "\f159";
	color: #d8ecb4;
}
.affwp-status.unpaid i:before {
	content: "\f159";
	color: #5e95ef;
}
.affwp-status.paid i:before {
	content: "\f159";
	color: green;
}
.affwp-status.rejected i:before {
	content: "\f159";
	color: #ef6c5e;
}

#affwp_edit_affiliate input:disabled {
	background: rgba(255, 255, 255, 0.3);
}

/* Visits page */
#affwp-visits-filter #url {
	width: 30%;
}

.visit-converted i {
	display: inline-block;
	position: relative;
	top: 2px;
	left: 2px;
}
.visit-converted i:before {
	font-family: "dashicons";
	font-style: normal;
}
.visit-converted.yes i:before {
	content: "\f147";
	color: #5e95ef;
}
.visit-converted.no i:before {
	content: "\f158";
	color: #ef6c5e;
}

/* WooCommerce Admin Tweaks */
.affwp-woo-coupon-field .affwp-ajax-search-wrap {
	position: relative;
	display:block;
	width: 100%;
}
.affwp-woo-coupon-field input#user_name.affwp-user-search {
	width: 50%;
}
.affwp-woo-coupon-field .affwp-woo-coupon-input-wrap {
	position: relative;
}
.affwp-woo-coupon-field #affwp_user_search_results {
	left: 0;
	top: -46px;
}
.affwp-woo-coupon-field .affwp-ajax {
	position: absolute;
	right: 5px;
	top: 2px;
}
/* Media Queries */
@media screen and ( max-width: 782px ) {
	#affwp-affiliates-filter .column-affiliate_id,
	#affwp-affiliates-filter .column-rate,
	#affwp-affiliates-filter .column-referrals,
	#affwp-affiliates-filter .column-visits {
		display: none;
	}

	#affwp-affiliates-filter .column-actions span {
		display: block;
	}
}

@media screen and ( min-width: 1025px ) {
	#affwp-affiliates-filter .column-actions {
		width: 30%;
	}
}

@media screen and ( min-width: 680px ) {
	#affwp-referrals-filter-form .column-actions {
		width: 24%;
	}
}
