.affwp_form legend {
	font-size: 120%;
	margin-bottom: 1em;
}

.affwp_form input[type="text"],
.affwp_form input[type="password"],
.affwp_form input[type="email"] {
	display: inline-block;
	width: 200px;
}

.affwp_form input[type="text"].required,
.affwp_form input[type="password"].required,
.affwp_form input[type="email"].required {
	color: inherit;
}

.affwp_form input[type="checkbox"] {
	display: inline-block;
}

.affwp_form label {
	display: inline-block;
	width: 200px;
}

.affwp_errors { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #E6DB55; margin: 0 0 21px 0; background: #FFFFE0; color: #333; }
.affwp_error { padding:10px; }
p.affwp_error { margin: 0 !important; }