table.affwp-table {
	text-align: left;
	width: 100%;
	border: none;
	margin: 0 0 21px;
	border-collapse: collapse;
}

table.affwp-table th,
table.affwp-table td {
	text-align: left;
	border: 1px solid #eee;
	color: #666;
	padding: 0.3em 1em;,
	max-width: 100%;
}

table.affwp-table th {
	background: #fafafa;
	font-weight: bold;
}

.affwp-form {
	margin-bottom: 20px;
}

.affwp-form fieldset {
	border: none;
}

.affwp-form legend {
	font-size: 120%;
	margin-bottom: 1em;
}

.affwp-form textarea,
.affwp-form input[type="text"],
.affwp-form input[type="password"],
.affwp-form input[type="email"],
.affwp-form input[type="url"] {
	display: inline-block;
	width: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.affwp-form input {
	border: 1px solid #eaeaea;
	border: 1px solid rgba( 51, 51, 51, 0.1 );
}

.affwp-form input[type="text"].required,
.affwp-form input[type="password"].required,
.affwp-form input[type="email"].required,
.affwp-form input[type="url"].required {
	color: inherit;
}

.affwp-form input[type="checkbox"] {
	display: inline-block;
}

.affwp-form label {
	display: inline-block;
	width: 200px;
	cursor: pointer;
}

.affwp-wrap {
	margin-bottom: 20px;
}

#affwp-generate-ref-url input {
	width: 100%;
}

.affwp-errors,
.affwp-notice {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #E6DB55;
	margin: 0 0 21px 0;
	background: #FFFFE0;
	color: #333;
}

.affwp-error,
.affwp-notice {
	padding:10px;
}

p.affwp-error {
	margin: 0 !important;
}

#affwp-affiliate-dashboard h4 {
	margin-bottom: 20px;
}

#affwp-graphs-filter {
	margin-bottom: 20px;
}

#affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs {
	margin: 0 0 20px 0;
	padding: 0;
	border: none;
}

#affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li {
	display: inline-block;
	padding: 0 10px 0 0;
	margin: 0;
}

#affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li.active {
	font-weight: bold;
}

#affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li a {
	text-decoration: none;
}

#affwp-affiliate-dashboard .affwp-graph {
	margin-bottom: 20px;
}

#affwp-affiliate-dashboard .affwp-graph table {
	width: auto;
}

#affwp-affiliate-dashboard-visits {
	table-layout: fixed;
}

#affwp-affiliate-dashboard-visits .visit-url {
	width: 30%;
}

#affwp-affiliate-dashboard-visits .referring-url {
	width: 50%;
}

#affwp-affiliate-dashboard-visits .referral-status {
	width: 20%;
}

#affwp-affiliate-dashboard .affwp-send-notifications-wrap label,
.affwp-form .affwp-tos,
.affwp-form .affwp-user-remember {
	width: auto;
}

.visit-converted i {
	display: inline-block;
	position: relative;
	top: 2px;
	left: 2px;
}

.visit-converted i:before {
	font-family: "dashicons";
	font-style: normal;
}

.visit-converted.yes i:before {
	content: "\f147";
	color: #5e95ef;
}

.visit-converted.no i:before {
	content: "\f158";
	color: #ef6c5e;
}

#affwp-affiliate-dashboard-creatives pre {
	background-color: transparent;
	background-color: rgba( 0, 0, 0, 0.01 );
	border: 1px solid #eaeaea;
	border: 1px solid rgba( 51, 51, 51, 0.1 );
	line-height: 1.5;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#affwp-affiliate-dashboard-creatives pre,
#affwp-affiliate-dashboard-creatives code {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.affwp-table {
	word-wrap: break-word;
}

.affwp-creative {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	border-bottom: 1px solid rgba( 51, 51, 51, 0.1 );
}

.affwp-creative:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}
