table.affwp_table {
	text-align: left;
	width: 100%;
	border: none;
	margin: 0 0 21px;
	border-collapse: collapse;
}
table.affwp_table th,
table.affwp_table td {
	text-align: left;
	border: 1px solid #eee;
	color: #666;
	padding: 0.3em 1em;,
	max-width: 100%;
}
table.affwp_table th {
	background: #fafafa;
	font-weight: bold;
}

.affwp_form fieldset {
	border: none;
}

.affwp_form legend {
	font-size: 120%;
	margin-bottom: 1em;
}

.affwp_form input[type="text"],
.affwp_form input[type="password"],
.affwp_form input[type="email"] {
	display: inline-block;
	width: 200px;
}

.affwp_form input[type="text"].required,
.affwp_form input[type="password"].required,
.affwp_form input[type="email"].required {
	color: inherit;
}

.affwp_form input[type="checkbox"] {
	display: inline-block;
}

.affwp_form label {
	display: inline-block;
	width: 200px;
}
#affwp_referral_url_submit_wrap {
	margin-top: 10px;
}

.affwp_errors,
.affwp-notice {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #E6DB55;
	margin: 0 0 21px 0;
	background: #FFFFE0;
	color: #333;
}
.affwp_error,
.affwp-notice {
	padding:10px;
}
p.affwp_error {
	margin: 0 !important;
}

#affwp-affiliate-dashboard h4 {
	margin-bottom: 20px;
}

#affwp-graphs-filter {
	margin-bottom: 20px;
}

#affwp-affiliate-dashboard .affwp-graph {
	margin-bottom: 20px;
}

#affwp-affiliate-dashboard .affwp-graph table {
	width: auto;
}
#affwp-affiliate-dashboard #affwp_send_notifications_wrap label {
	width: auto;
}