table.affwp-table {
	text-align: left;
	width: 100%;
	border: none;
	margin: 0 0 21px;
	border-collapse: collapse;
}
table.affwp-table th,
table.affwp-table td {
	text-align: left;
	border: 1px solid #eee;
	color: #666;
	padding: 0.3em 1em;,
	max-width: 100%;
}
table.affwp-table th {
	background: #fafafa;
	font-weight: bold;
}

.affwp-form fieldset {
	border: none;
}

.affwp-form legend {
	font-size: 120%;
	margin-bottom: 1em;
}

.affwp-form input[type="text"],
.affwp-form input[type="password"],
.affwp-form input[type="email"] {
	display: inline-block;
	width: 200px;
}

.affwp-form input[type="text"].required,
.affwp-form input[type="password"].required,
.affwp-form input[type="email"].required {
	color: inherit;
}

.affwp-form input[type="checkbox"] {
	display: inline-block;
}

.affwp-form label {
	display: inline-block;
	width: 200px;
}

.affwp-referral-url-submit-wrap {
	margin-top: 10px;
}

.affwp-errors,
.affwp-notice {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #E6DB55;
	margin: 0 0 21px 0;
	background: #FFFFE0;
	color: #333;
}

.affwp_error,
.affwp-notice {
	padding:10px;
}

p.affwp_error {
	margin: 0 !important;
}

#affwp-affiliate-dashboard h4 {
	margin-bottom: 20px;
}

#affwp-graphs-filter {
	margin-bottom: 20px;
}

#affwp-affiliate-dashboard .affwp-graph {
	margin-bottom: 20px;
}

#affwp-affiliate-dashboard .affwp-graph table {
	width: auto;
}
#affwp-affiliate-dashboard .affwp-send-notifications-wrap label {
	width: auto;
}
.visit-converted i {
	display: inline-block;
	position: relative;
	top:2px;
	left: 2px;
}
.visit-converted i:before {
	font-family: "dashicons";
	font-style: normal;
}
.visit-converted.yes i:before {
	content: "\f147";
	color: #5e95ef;
}
.visit-converted.no i:before {
	content: "\f158";
	color: #ef6c5e;
}